<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>libro</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    
    <h1>Este es libro</h1>
    

    {% for libro in libros_mostrar%}
    <div>
        <h2>Nombre: {{libro.nombre}}</h2>
        <h2>biblioteca: {{libro.biblioteca.nombre}}</h2>
        <h2>Autores</h2>
        <ul>
            {%for autor in libro.autores.all%}
                <li>{{autor.nombre}}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'dame_libro' libro.id %}">Pulsa para ir al libro</a>
    </div>
    {% endfor %}
    
</body>
</html>