<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>primer template</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    
    <h1>Este es el primer template</h1>
    <a href="{% url 'lista_libros' %}">Libros</a>
    <ul>
        <li>
            <a href="{% url 'dame_libros_biblioteca' 1 'prueba'%}">Libros Biblioteca 1 con filtro de texto </a> </li>
        </li>

    </ul>
    </ul>
    


</body>
</html>